[Desktop Entry]
Name=YouTube Music
Exec=youtube-music --enable-features=UseOzonePlatform --ozone-platform=wayland %U
Terminal=false
Type=Application
Icon=youtube-music
StartupWMClass=YouTube Music
Comment=YouTube Music Desktop App - including custom plugins
Categories=AudioVideo;
X-Desktop-File-Install-Version=0.27
